<h2 mat-dialog-title>About</h2>
<mat-dialog-content>
  <h3>Mark down is awesome</h3>
  <p>
    Created with Angular & Electron & ngx-markdown
  </p>
  <p>
    Checkout more information about Markdown here:
    <a href="https://www.markdownguide.org/" target="_blank">https://www.markdownguide.org/</a>
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="close-button" mat-stroked-button mat-dialog-close>Close</button>
</mat-dialog-actions>