
.home {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-text-markdown {
  margin: 1em 0.5em;
  margin-top: 4.5em;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.input-text-markdown-hide {
  display: none;
}

.input-markdown {
  width: 100%;
  height: 30vh;
  flex: 1;
}

.markdown-preview {
  margin: 0.5em;
  margin-top: 4.8em;
  padding: 0.5em;
  flex: 1;
  word-break: break-word;
  overflow: auto;
  background: whitesmoke;
  border-radius: 5px;
}

.markdown-preview-hide {
  display: none;
}

@media only screen and (min-width: 992px) {
  .home {
    flex-direction: row;
  }

  .input-markdown {
    height: 42em;
  }

  .markdown-preview {
    margin-top: 4.8em;
    height: 50em;
  }
} 

