<div class="home">
  <div
    [ngClass]="{'input-text-markdown': _viewMode !== 'preview', 'input-text-markdown-hide': _viewMode === 'preview'}"
    id="input-text-markdown-container"
    (scroll)="onElementScroll($event)"
  >
    <mat-form-field appearance="outline">
      <mat-label>Title (save as file name)</mat-label>
      <input
        type="text"
        matInput
        (keyup)="onChangeTitle()"
        [(ngModel)]="_title" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Body</mat-label>
      <textarea
        matInput 
        class="input-markdown" 
        (keyup)="onChangeMarkdownContent()"
        [(ngModel)]="_markdownContent">
      </textarea>
    </mat-form-field>
  </div>
  <div 
    [ngClass]="{'markdown-preview': _viewMode !== 'original', 'markdown-preview-hide': _viewMode === 'original'}"
    id="markdown-preview-container">
    <markdown [data]="_markdownContent" place-holder="Preview" id="markdown-preview">Preview</markdown>
  </div>
</div>