<mat-toolbar color="primary" style="position: fixed; z-index: 10;">
  <mat-toolbar-row>
    <span>Simple Markdown</span>
    <span class="middle-full-width"></span>
    <span>
        <button mat-icon-button [matMenuTriggerFor]="viewModeMenu">
          <i class="material-icons">visibility</i>
        </button>
        <mat-menu #viewModeMenu="matMenu">
          <button mat-menu-item (click)="activateDualMode()">
            <span [ngClass]="{'currentView': currentView === 'dual'}">Dual</span>
          </button>
          <button mat-menu-item (click)="activatePreviewMode()">
            <span [ngClass]="{'currentView': currentView === 'preview'}">Preview Only</span>
          </button>
          <button mat-menu-item (click)="activateOriginalMode()">
              <span [ngClass]="{'currentView': currentView === 'original'}">Original Only</span>
          </button>
        </mat-menu>
      </span>
    <span>
        <input type="file" id="fileUpload" #fileUpload style="display: none;" (change)="readFile();">
        <button mat-icon-button (click)="fileUpload.click();">
          <i class="material-icons">folder</i>
        </button>
      </span>
    <span>
      <button mat-icon-button [matMenuTriggerFor]="saveAsMenu">
        <i class="material-icons">save</i>
      </button>
      <mat-menu #saveAsMenu="matMenu">
        <button mat-menu-item (click)="saveAsHtml()">As HTML</button>
        <button mat-menu-item (click)="saveAsMarkdown()">As Markdown</button>
      </mat-menu>
    </span>
    <span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <i class="material-icons">more_vert</i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openAboutDialog()">About</button>
      </mat-menu>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="container" *ngIf="shouldRun">
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>
<app-home-page
  [markdownContent]="markdown"
  [title]="title"
  (changedTitle)="onChangeTitle($event)"
  (changedMarkdownContent)="onChangeMarkdownContent($event)"
  [viewMode]="currentView"></app-home-page>