<h2 mat-dialog-title>Save as Mardown</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>File name</mat-label>
    <input
      type="text"
      matInput 
      class="input-markdown" 
      [(ngModel)]="fileName"/>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="" mat-button mat-dialog-close>Close</button>
  <button class="" mat-raised-button mat-dialog-close>Save</button>
</mat-dialog-actions>